@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url(assets/images.png);
    background-size: cover; /* Ensures the image covers the entire track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: url(assets/images.png);
    background-size: cover; /* Ensures the image covers the entire thumb */
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: url(images/images.png);
    background-size: cover; /* Ensures the image covers the entire thumb on hover */
}
